@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bgColor{
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.bgColor1{
    background: linear-gradient(-135deg, #352fe4, #bc2546);
}
.bgFooter{
    background-image: url('../public/images/footer.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.noUnderline{
    text-decoration: none;
}
.kanit-medium {
    font-family: "Kanit", serif;
    font-weight: 500;
    font-style: normal;
    color:#006BC2;
  }
  .kanit-bold {
    font-family: "Kanit", serif;
    font-weight: 500;
    font-style: normal;
  }
::placeholder{
    color: rgb(96, 95, 95);
    font-size: medium;
}
.empDetails{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid black; */
    background-color:#0565c8;
    padding: 20px;;
    color: #ffffff;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.postBtn{
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}
.jobPostBtns{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.jobPostBtns button{
     padding: 10px;
     border: 2px solid #eeeeee;
     color: #ffffff;
     border-radius: 10px;
}
.postBtn1{
    background-color: green;
}
.cancleBtn{
    background-color: red;
}
.postBtn button{
    background-color: orange;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;

}
.body{
    background-color: #fafafa;
}
.oldJob{
    border: 2px solid #eeeeee;
    /* margin-left: 40px;
    margin-right: 40px; */
    /* margin-bottom: 10px; */
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
    height: 300px;
    width: 300px;
    background-color: #ffffff;
}
/* .oldJob:hover{
    background-color: red;
} */
 input{
    border: 1px solid #eeeeee;
    border-radius: 5px;
    margin-left: 5px;
    padding-left: 10px;
 }
.pp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.newJob{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid #eeeeee;
    padding: 20px;
    border-radius: 10px;
   
}
.newJob input{
    border: 1px solid black;
}
.np{
    display: flex;
    justify-content: center;
    align-items: center;
}
.newJob{
    display: none;
}
.oldJobs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}